<p id="notice"><%= notice %></p>

<p>
  <strong>Daiper change date:</strong>
  <%= @diaper_entry.daiper_change_date %>
</p>

<p>
  <strong>Change type:</strong>
  <%= @diaper_entry.change_type %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @diaper_entry.notes %>
</p>

<%= link_to 'Edit', edit_diaper_entry_path(@diaper_entry) %> |
<%= link_to 'Back', diaper_entries_path %>
